html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "SUIT";
}

@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url("/formInvoice/resources/fonts/SUIT-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url("/formInvoice/resources/fonts/SUIT-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/formInvoice/resources/fonts/SUIT-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/formInvoice/resources/fonts/SUIT-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("/formInvoice/resources/fonts/SUIT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/formInvoice/resources/fonts/SUIT-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/formInvoice/resources/fonts/SUIT-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("/formInvoice/resources/fonts/SUIT-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("/formInvoice/resources/fonts/SUIT-Heavy.woff2") format("woff2");
}
/* media query */
main {
  display: none;
}

.sec.intro {
  padding: 0.625vw;
  background: black;
}
.sec.intro .content_wrap {
  display: flex;
  justify-content: space-between;
  background: black;
}
.sec.intro .content_wrap > * {
  height: 32.48vh;
  padding: 1.25vw;
  background: #E0F4FF;
  border: 0.416vw solid black;
  border-radius: 1.875vw;
}
.sec.intro .description {
  display: flex;
  align-items: center;
  width: 67%;
}
.sec.intro .description p {
  font-size: 1.6vw;
  line-height: 1.2;
  color: #000;
}
.sec.intro .title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 33%;
}
.sec.intro .title em {
  font-size: 1.66vw;
  font-style: normal;
  font-weight: 600;
}
.sec.intro .title strong {
  font-size: 5vw;
  font-weight: 900;
  color: #000;
}
.sec.templates .click_to_templates {
  height: 18vh;
  padding: 0.625vw;
  background: #E0F4FF;
}
.sec.templates .click_to_templates a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.25vw;
  background: black;
  border-radius: 1.875vw;
}
.sec.templates .click_to_templates a span {
  display: block;
  position: relative;
  width: fit-content;
  padding-left: 2.5vw;
  font-size: 2.5vw;
  color: #fff;
}
.sec.templates .click_to_templates a span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.083vw;
  height: 2.083vw;
  background: center/cover no-repeat url("../images/star_d9d9d9.svg");
}
.sec.templates ul.form_wrap {
  display: flex;
  flex-wrap: wrap;
}
.sec.templates ul.form_wrap li {
  position: relative;
  width: 33.3333333333%;
  border: 1px solid black;
}
.sec.templates ul.form_wrap li::after {
  content: " ";
  display: block;
  padding-bottom: 120%;
}
.sec.templates ul.form_wrap li .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.sec.payment .content_wrap {
  display: flex;
}
.sec.payment .content_wrap > * {
  width: 50%;
}
.sec.payment .txt_area {
  padding: 1.25vw;
  background: black;
}
.sec.payment .txt_area .inner {
  padding: 1.25vw;
  background: #E0F4FF;
  border-radius: 1.875vw;
}
.sec.payment .txt_area h3 {
  margin-bottom: 1.25vw;
  font-size: 2.5vw;
  font-weight: 900;
  line-height: 1.2;
}
.sec.payment .txt_area ul.ic_star_list li span {
  display: block;
  position: relative;
  width: fit-content;
  padding-left: 1.875vw;
  margin-bottom: 1.25vw;
  font-size: 1.25vw;
  font-weight: 700;
  color: #000;
}
.sec.payment .txt_area ul.ic_star_list li span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4583vw;
  height: 1.4583vw;
  background: center/cover no-repeat url("../images/star_d9d9d9.svg");
}
.sec.payment .txt_area .btn_wrap {
  display: flex;
  justify-content: flex-end;
}
.sec.payment .txt_area .btn_wrap a {
  display: block;
  width: fit-content;
  padding: 1.25vw;
  background: black;
  border-radius: 1.875vw;
  font-size: 1.25vw;
  font-weight: 800;
  color: #E0F4FF;
}
.sec.payment .canvas_area {
  border: 3px solid lightblue;
}

footer {
  background: black;
}
footer .footer_inner {
  display: flex;
  justify-content: space-between;
}
footer .copyright {
  font-size: 1.25vw;
  color: #fff;
}
footer .links a {
  color: #fff;
}

.invoice.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 2px 4px 2px -2px rgba(0, 0, 0, 0.1);
}

/*  invoice type 01  */
.template {
  --gap: .5cm;
  --gap-items: .05cm;
  --padding: 1cm;
  --padding-header: .2cm;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  font-size: 16px;
  gap: var(--gap);
  height: 100%;
  letter-spacing: -0.015em;
  padding: var(--padding);
  transition: background-color var(--transition-duration) var(--transition-ease);
}
.template#mosaic {
  grid-auto-flow: row;
  grid-template-areas: "logo . . ." "from from to to" "number number number number" "dates note note note" "items items items items" "recap recap recap recap";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr;
}
