html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "SUIT";
}

@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url("/formInvoice/resources/fonts/SUIT-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url("/formInvoice/resources/fonts/SUIT-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("/formInvoice/resources/fonts/SUIT-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/formInvoice/resources/fonts/SUIT-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("/formInvoice/resources/fonts/SUIT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/formInvoice/resources/fonts/SUIT-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/formInvoice/resources/fonts/SUIT-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: url("/formInvoice/resources/fonts/SUIT-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-display: swap;
  font-style: normal;
  font-weight: 900;
  src: url("/formInvoice/resources/fonts/SUIT-Heavy.woff2") format("woff2");
}
/* media query */
.sec.intro {
  padding: 0.2vw;
  background: black;
}
.sec.intro .content_wrap {
  display: flex;
  justify-content: space-between;
  background: black;
}
.sec.intro .content_wrap > * {
  height: 32.48vh;
  padding: 1.25vw;
  background: #E0F4FF;
  border: 0.416vw solid black;
  border-radius: 2.5vw;
}
.sec.intro .description {
  display: flex;
  align-items: center;
  width: 67%;
}
.sec.intro .description p {
  font-size: 1.6vw;
  line-height: 1.2;
  color: black;
}
.sec.intro .title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 33%;
}
.sec.intro .title em {
  font-size: 1.66vw;
  font-style: normal;
  font-weight: 600;
}
.sec.intro .title strong {
  font-size: 5vw;
  font-weight: 900;
  color: black;
}
.sec.types .click_to_types {
  height: 10vh;
}
.sec.types .click_to_types a {
  display: block;
  background: black;
  border: 0.416vw solid #E0F4FF;
}
