@charset "UTF-8";

$bgColor: black;
$mainColor : #E0F4FF;
$txtColor: #000;
$itemBorderRadius: 1.875vw; // 36px
$bgPadding : 0.625vw; // 12px
$itemPadding: 1.25vw; // 24px
$imgPath: '../images/';

main {
    display: none;
}

.sec {
    &.intro {
        padding: $bgPadding; // 12px
        background: $bgColor;

        .content_wrap {
            display: flex;
            justify-content: space-between;
            background: $bgColor;

            > * {
                height: 32.48vh;
                padding: $itemPadding; // 24px
                background: $mainColor;
                border: 0.416vw solid $bgColor; // 4px
                border-radius: $itemBorderRadius;
            }
        }

        .description {
            display: flex;
            align-items: center;
            width: 67%;

            p {
                font-size: 1.6vw;
                line-height: 1.2;
                color: $txtColor;
            }
        }

        .title {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            width: 33%;

            em {
                font-size: 1.66vw;
                font-style: normal;
                font-weight: 600;
            }

            strong {
                font-size: 5vw;
                font-weight: 900;
                color: $txtColor;
            }
        }
    }

    &.templates {
        .click_to_templates {
            height: 18vh;
            padding: $bgPadding;
            background: $mainColor;

            a {
                display: flex;
                align-items: center;
                height: 100%;
                padding: $itemPadding;
                background: $bgColor;
                border-radius: $itemBorderRadius; // 48px

                span {
                    display: block;
                    position: relative;
                    width: fit-content;
                    padding-left: 2.5vw;
                    font-size: 2.5vw;
                    color: #fff;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 2.083vw; // 40px
                        height: 2.083vw;
                        background: center / cover no-repeat url("#{$imgPath}star_d9d9d9.svg");
                    }
                }
            }
        }

        ul.form_wrap {
            display: flex;
            flex-wrap: wrap;

            li {
                position: relative;
                width: calc(100% / 3);
                border: 1px solid $bgColor;

                &::after {
                    content: ' ';
                    display: block;
                    padding-bottom: 120%;
                }

                .inner {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .form {
                }
            }
        }
    }

    &.payment {
        .content_wrap {
            display: flex;

            >* {
                width: 50%;
            }
        }

        .txt_area {
            padding: $itemPadding; // 16px
            background: $bgColor;

            .inner {
                padding: $itemPadding; // 16px
                background: $mainColor;
                border-radius: $itemBorderRadius;
            }

            h3 {
                margin-bottom: 1.25vw; // 24px
                font-size: 2.5vw; // 48px
                font-weight: 900;
                line-height: 1.2;
            }

            ul.ic_star_list {
                li {
                    span {
                        display: block;
                        position: relative;
                        width: fit-content;
                        padding-left: 1.875vw; // 36px
                        margin-bottom: 1.25vw;
                        font-size: 1.25vw;
                        font-weight: 700;
                        color: $txtColor;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 1.4583vw; // 28px
                            height: 1.4583vw;
                            background: center / cover no-repeat url("#{$imgPath}star_d9d9d9.svg");
                        }
                    }
                }
            }

            .btn_wrap {
                display: flex;
                justify-content: flex-end;

                a {
                    display: block;
                    width: fit-content;
                    padding: $itemPadding;
                    background: $bgColor;
                    border-radius: $itemBorderRadius;
                    font-size: 1.25vw;
                    font-weight: 800;
                    color: $mainColor;
                }
            }
        }

        .canvas_area {
            border: 3px solid lightblue;
        }
    }
}

footer {
    background: $bgColor;

    .footer_inner {
        display: flex;
        justify-content: space-between;
    }

    .copyright {
        font-size: 1.25vw;
        color: #fff;
    }

    .links {
        a {
            color: #fff;
        }
    }
}
